*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Spartan', sans-serif;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color:  #e3e6f3;
}
.form-box{
  width: 550px;
  min-height: 550px;
  max-height: 95vh;
  height: auto;
  border-radius: 30px;
  box-shadow:  0 0 30px rgba(0,0,0, 0.2);
  background-color: #fff;
  text-align: center;
  color: #333;
  padding: 40px;
  box-sizing: border-box;
}
.form-box h1{
  font-size: 36px;
  margin: -10px 0;
}
.input-box{
  position: relative;
  margin: 30px  0;
}
.input-box input{
  width: 100%;
  padding: 13px 50px 13px 20px;
  background-color: #eee;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 16px;
  color: #333;
  font-weight: 500;
}
.input-box input::placeholder{
  color: #888;
  font-weight: 400;
}
.input-box i{
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #888;
}
.forgot-link{
  margin: -15px 0 15px;
}
.forgot-link a{
  font-size: 14px;
  color: #333;
  text-decoration: none;
}
.btn{
  width: 100%;
  height: 48px;
  background-color: orange;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  transition: 0.4s ease;
}
.btn:hover{
  transform: translateY(-5px);
}
.form-box p{
  font-size: 14px;
  margin: 15px 0;
}
.socail-icons a{
  display: inline-flex;
  padding: 20px;
  margin: 0 8px;
  border: 2px solid orange;
  font-size: 24px;
  color: #333;
  text-decoration: none;
}
.socail-icons a:hover{
  transform: translateY(-2px);
}
#account a{
  text-decoration: none;
  color: #333;
}
